.div {
    display: inline-block;
    width: 900px;
    margin-block: 35px;
    padding-block: 50px;
    text-align: center;
    background: linear-gradient(90deg, #151d2700 0%, #151d2781 5%, #151d27e6 10%, #151d27e6 90%, #151d2781 95%, #151d2700 100%);
    border-top: 0.5px solid #000000;
    border-bottom: 0.5px solid #000000;
}

.div img {
    width: 680px;
    border-radius: 5px;
    box-shadow: 2px 3px 4px #050505; 
}