.div {
    display: inline-block;
    width: 900px;
    margin-block: 35px;
    padding-block: 50px;
    text-align: center;
    background: linear-gradient(90deg, #80808000 0%, #44444481 5%, #2a2a2ae6 10%, #2a2a2ae6 90%, #44444481 95%, #80808000 100%);
    border-top: 0.5px solid #000000;
    border-bottom: 0.5px solid #000000;
}

.div img {
    width: 680px;
    border-radius: 5px;
    box-shadow: 2px 3px 4px #050505; 
}