.arrow {
    position: absolute;
    color: black;
    left: 50%;
    z-index: 11;
    margin-bottom: 5px;
    text-shadow: none;
}

.searchCard {
    position: absolute;
    width: 500px;
    height: 400px;
    background-color: #000000;
    border-top: 0.5px solid #ffffff5a;
    border-left: 0.5px solid #ffffff5a;
    border-right: 0.5px solid #ffffff5a;
    left: 50%;
    transform: translate(-50%);
    padding: 3px;
    margin-top: 10px;
    z-index: 10;
    overflow-y: auto;
    scrollbar-width: 15px;
    scrollbar-color: #888 #00000000;
}

.summary {
    position: absolute;
    margin-top: 310px;
    width: 400px;
    border-left: 0.5px solid #ffffff5a;
    border-right: 0.5px solid #ffffff5a;
    border-bottom: 0.5px solid #ffffff5a;
    left: 50%;
    transform: translate(-50%);
    background-color: black;
    z-index: 10;
}

.line {
    margin-block: 15px;
    margin-inline: 30px;
    background-color: white;
    height: 1px;
}

.summaryItens {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
}

.productQt {
    margin-left: 50px;
}

.total {
    margin-right: 50px;
}

.button {
    margin-left: 70px;
    margin-bottom: 15px;
    border-radius: 0px;
    background-color: black;
    border: 0.5px solid #ffffff5a;
    padding-block: 10px;
}