.arrow {
    position: absolute;
    color: black;
    left: 50%;
    z-index: 11;
    margin-bottom: 5px;
    text-shadow: none;
}

.searchCard {
    position: absolute;
    width: 500px;
    height: 400px;
    background-color: #000000;
    box-shadow: 0px 0px 2px white;
    left: 50%;
    transform: translate(-50%);
    padding: 3px;
    margin-top: 10px;
    z-index: 10;
    overflow-y: auto;
    scrollbar-width: 15px;
    scrollbar-color: #888 #00000000;
}

.summary {
    position: absolute;
    margin-top: 310px;
    width: 400px;
    box-shadow: 0px 0px 2px white;
    left: 50%;
    transform: translate(-50%);
    background-color: black;
    z-index: 10;
}

.summaryItens {
    
}