.giftCard {
  padding-top: 100px;
  padding-inline: 100px;
  background: linear-gradient(0deg, #000000f4 25%, #00000069 50%, #08264f 85%);
  height: 160vh;
}

.giftCard h1 {
  margin-bottom: 30px;
  font-weight: bold;
  text-shadow: 0 -1px 2px #000000, 0 1px 2px #000000, -1px 0 2px #000000, 1px 0 2px #000000;
}

.giftCard h3 {
  margin-bottom: 10px;
  font-weight: lighter;
  text-shadow: 0 -1px 2px #000000, 0 1px 2px #000000, -1px 0 2px #000000, 1px 0 2px #000000;
}

.line {
  margin: 0px;
  margin-bottom: 100px;
  border-color: white;
}

.psgifts {
  width: 450px;
}

.pspersonagem1 {
  position: absolute;
  width: 200px;
  margin-top: 185px;
  transform: translateX(-70px);
}

.pspersonagem2 {
  position: absolute;
  width: 230px;
  margin-top: -26px;
  transform: translateX(-190px);
}

.nsgifts {
  width: 450px;
}

.nspersonagem1 {
  position: absolute;
  width: 200px;
  margin-top: 230px;
  transform: translateX(-70px);
}

.nspersonagem2 {
  position: absolute;
  width: 230px;
  margin-top: 230px;
  transform: translateX(-150px);
}

.xbgifts {
  width: 450px;
  margin-top: 30px;
}

.xbpersonagem1 {
  position: absolute;
  width: 150px;
  margin-top: 110px;
  transform: translateX(-70px);
}

.xbpersonagem2 {
  position: absolute;
  width: 230px;
  margin-top: -26px;
  transform: translateX(-190px);
}

.pcgifts {
  width: 450px;
}

.pcpersonagem1 {
  position: absolute;
  width: 200px;
  margin-top: 185px;
  transform: translateX(-70px);
}

.pcpersonagem2 {
  position: absolute;
  width: 230px;
  margin-top: -26px;
  transform: translateX(-190px);
}

.gfSection {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 15px;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 50px;
  cursor: pointer;
  transition: 0.5s ease-in;
}

.price {
  width: 200px;
  max-width: 330px;
  font-size: 30px;
  font-weight: 600;
  padding: 10px;
  margin-inline: 25px;
  margin-top: 40px;
  flex: calc(30%);
  border: 2px solid #afd7f7;
  border-radius: 8px;
  transition: 0.7s;
}

.price:hover {
  background-color: white;
  color: black;
}

@media (width < 1369)