.category {
    display: flex;
    flex-direction: column;
}

.category div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.category h2 {
    margin-block: 50px;
    text-align: left; /* tirar na responsividade  */
    padding-left: 100px; /* tirar na responsividade  */
    padding-block: 30px;
    background-color: #36323252;
    box-shadow: 0px 0px 8px white;
}

.line {
    width: 0px;
    height: 0px;
    background-color: white;
    box-shadow: 0px 0px 8px white;
    margin-right: 30px;
}