.link {
    display: contents;
    color: white;
}

.link:hover {
    text-shadow: none;
    color: black;
}

.searchGame {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background-color: rgba(128, 128, 128, 0);
    padding: 5px;
    text-align: left;
    transition: 0.3s ease-in;
    cursor: pointer;
    border-radius: 1px;
}

.searchGame:hover {
    background-color: white;
}

.searchGame img {
    width: 130px;
    height: 80px;
    margin-right: 10px;
    border-radius: 3px;
}

.info {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.title {
    font-weight: bold;
}