.description {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0.95) 15%, rgba(0,0,0,0.85) 25%, rgba(0,0,0,0.75) 35%, rgba(0,0,0,0.65) 45%, rgba(0,0,0,0.55) 50%, rgba(0,0,0,0.45) 60%, rgba(0,0,0,0.35) 70%, rgba(0,0,0,0.25) 80%, rgba(0,0,0,0.15) 90%, rgba(0,0,0,0) 100%);
}

.description h2 {
    text-align: left;
    padding-top: 170px;
    padding-left: 100px;
}

.description h5 {
    text-align: left;
    padding-top: 10px;
    padding-left: 100px;
}

.version {
    text-align: left;
    padding-top: 10px;
    padding-left: 100px;
}

.version div{
    width: 400px;
    height: 115px;
    font-size: 30px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.version span{
    font-size: 20px;
    margin-right: 10px;
    padding: 5px;
    border: 0.5px solid white;
}

.version div label {
    font-size: 30px;
}

.version input{
    width: 20px;
    height: 20px;
    margin-right: 15px;
    color: #ff000053;
}