.description {
    width: 100%;
    height: 75%;
    background: linear-gradient(90deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0.95) 15%, rgba(0,0,0,0.85) 25%, rgba(0,0,0,0.75) 35%, rgba(0,0,0,0.65) 45%, rgba(0,0,0,0.55) 50%, rgba(0,0,0,0.45) 60%, rgba(0,0,0,0.35) 70%, rgba(0,0,0,0.25) 80%, rgba(0,0,0,0.15) 90%, rgba(0,0,0,0) 100%);
}

.description h2 {
    text-align: left;
    padding-top: 145px;
    padding-left: 100px;
}

.description h5 {
    text-align: left;
    padding-top: 10px;
    padding-left: 100px;
}

.edition {
    text-align: left;
    padding-top: 10px;
    padding-left: 100px;
    max-width: 545px;
}

.edition div{
    width: 445px;
    height: 300px;
    font-size: 30px;
    margin-top: 10px;
    border-radius: 5px;
    display: grid;
    justify-items: center;
}

hr{
    margin-top: 30px;
}

.edition div label {
    min-width: 390px;
    font-size: 25px;
    margin-top: 15px;
    border-radius: 5px;
    padding: 30px;
    text-align: center;
    background-color: #00000098;
    border: 0.5px solid #ffffff5a;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    transition: 1s;
}

.selected {
    background-color: #97828254;
    padding: 8px;
    transition: 0.8s ease;
    border-radius: 5px;
}

.price {
    font-size: 30px;
    margin-top: 30px;
    border-radius: 5px;
    text-align: left;
}

.submitButton {
    margin-top: 5px;
    width: 65%;
    border: none;
    background-color: black;
    border: 0.5px solid #ffffff5a;
    color: white;
    padding: 10px;
    font-size: 20px;
    transition: 0.5s ease-in;
    margin-top: 45px;
}

.submitButton:hover {
    box-shadow: 0px 0px 5px white;
}