.header {
    position: absolute;
    color: white;
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    box-shadow: #000000fe 5px 3px 8px;
    background-color: #08264f;
}

.consoles {
    display: grid;
    position: absolute;
    background-color: white;
    margin-top: 55px;
    height: 150px;
    width: 150px;
    border-top: 4px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.consoles a {
    color: black;
    padding: 10px;
    text-decoration: none;
}

.nav1 a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding-inline: 18px;
    transition: 0.2s;
}

.nav1 a:hover {
    color: lightblue;
}

.nav1 i {
    font-size: 25px;
}


.nav {
    padding-top: 5px;
}

.nav a{
    text-decoration: none;
    font-size: 20px;
    padding-inline: 18px;
    transition: 0.2s;
    padding-inline: 50px;
    padding-bottom: 23px;
}

.nav a span {
    margin-inline: 10px;
}

.a_con {
    color: white;
    transition: 5s ease;
}

.a_con:hover > i {
    transform: rotate(180deg);
}

.a_con:hover {
    .consoles {
        display: grid;
    }

    .consoles a{
        font-size: 15px;
    }
}

.consoles {
    display: none;
    position: absolute;
    background-color: white;
    height: 170px;
    width: 150px;
    margin-top: 19px;
    border-top: 4px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 1;
    left: 550px;
}

.consoles a {
    color: black;
    padding: 10px;
    text-decoration: none;
}

.ps_link:hover {
    color: #0a58cd;
    background-color: #0000001d;
}

.ni_link:hover {
    color: red;
    background-color: #0000001d;
}

.xb_link:hover {
    color: green;
    background-color: #0000001d;
}

.nav3 a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding-inline: 18px;
    transition: 0.2s;
}

.nav3 a:hover {
    color: lightblue;
}

.nav3 i {
    font-size: 25px;
}