.header {
    position: fixed;
    background-color: #00000000;
    color: white;
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    z-index: 10;
    transition: background-color 0.6s;
}

.scrolled {
    background-color: #001F3F;
    box-shadow: 0 2px 5px #000000dc
}

.header > nav {
    text-shadow: 0 -1px 2px #000000,0 1px 2px #000000,-1px 0 2px #000000,1px 0 2px #000000;
}

.nav1 a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding-inline: 18px;
    transition: 0.2s;
}

.nav1 a:hover {
    color: lightblue;
}

.nav1 i {
    font-size: 25px;
}


.nav {
    padding-top: 4px;
}

.nav a{
    text-decoration: none;
    font-size: 20px;
    padding-inline: 18px;
    transition: 0.2s;
    padding-inline: 50px;
    padding-bottom: 23px;
}

.nav a span {
    margin-inline: 10px;
}

.a_con {
    color: white;
    cursor: pointer;
}

@keyframes down {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.menu {
    animation: down 0.5 ease-in forwards;
}

@keyframes increase {
    from {
      width: 0;
      opacity: 0;
    }
    to {
      width: 200px;
      opacity: 1;
    }
}

@keyframes decrease {
    from {
      width: 200px;
    }
    to {
      width: 0px;
      display: none;
    }
}
  
.show {
    animation: increase 0.5s ease-in forwards;
    margin-right: 15px;
}

.hide {
    animation: decrease 0.2s ease-in forwards;
    margin-right: 15px;
}
  
.nav3 a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding-inline: 18px;
    transition: 0.2s;
}

.nav3 a:hover {
    color: lightblue;
}

.nav3 i {
    font-size: 25px;
}