.header {
    background-color: rgb(0, 0, 0);
    color: white;
    position: absolute;
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    box-shadow: #000000fe 5px 3px 8px;
    border-bottom: 0.5px solid #ffffff5a;
}

.nav {
    padding-top: 5px;
}

.nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-inline: 18px;
    transition: 0.2s;
}

.nav2 a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding-inline: 18px;
    transition: 0.2s;
}

.nav2 a:hover {
    border-top: 2px solid light;
}

.nav2 i {
    width: 89px;
}