.banner {
    width: 100%;
    height: 645px;
    /* height: 150vh; */
    max-height: 645px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-position: auto;
    background-position: auto; */
    color: white;
    padding-top: 70px;
    margin-top: 70px; /* tira */
    text-align: center;
}