@font-face {
    font-family: nintendo-font;
    src: url(./font/nintendofont.ttf);
}

.section > section {
    border: 2px solid white;
}

.title {
    font-family: nintendo-font;
    font-size: 100px;
    margin-top: 250px;
    text-align: left;
    margin-left: 150px;
}

.title > i {
    margin-bottom: 25px;
}
